<suite name="Suite">
    <!--    <listeners>-->
    <!--        <listener class-name="utilities.ExtentReportManager"/>-->
    <!--    </listeners>-->
    <test name="Test">
        <classes>
            <class name="org.zigwheels.test.TC_1GetURL"/>
            <class name="org.zigwheels.test.TC_2GetUpcomingBike"/>

        </classes>
    </test>
</suite>